.block
  .block-title
    .block-options.pull-right
      %a.btn.btn-alt.btn-sm.btn-default{"data-original-title" => "Friend Request", "data-toggle" => "tooltip", :href => "", :title => ""}
        %i.fa.fa-plus
      %a.btn.btn-alt.btn-sm.btn-default{"data-original-title" => "Hire", "data-toggle" => "tooltip", :href => "", :title => ""}
        %i.fa.fa-briefcase
    %h2
      Listado
      %strong Usuarios
      %small
        •
        %i.fa.fa-file-text.text-primary
        %a{"data-original-title" => "Descargar perfil", "data-toggle" => "tooltip", :href => "javascript:void(0)", :title => ""} Perfiles
  %table.table.table-borderless.table-striped
    %tbody
      %tr
        %td{:style => "width: 20%;"}
          %strong Info
        %td Proin ac nibh rutrum lectus rhoncus eleifend. Sed porttitor pretium venenatis. Suspendisse potenti. Aliquam quis ligula elit. Aliquam at orci ac neque semper dictum. Sed tincidunt scelerisque ligula, et facilisis nulla hendrerit non.
      %tr
        %td
          %strong Founder
        %td
          %a{:href => "javascript:void(0)"} Company Inc
      %tr
        %td
          %strong Education
        %td
          %a{:href => "javascript:void(0)"} University Name
      %tr
        %td
          %strong Projects
        %td
          %a.label.label-danger{:href => "javascript:void(0)"} 168
      %tr
        %td
          %strong Best Skills
        %td
          %a.label.label-info{:href => "javascript:void(0)"} HTML
          %a.label.label-info{:href => "javascript:void(0)"} CSS
          %a.label.label-info{:href => "javascript:void(0)"} Javascript