.block
  .block-title
    .col-md-12
      .page-header
        %h2
          Lista de 
          %strong Usuarios
          %small
- @users.each do |user|
  .col-sm-6.col-md-4
    .widget
      .widget-advanced
        .widget-header.text-center.themed-background-dark
          %h3.widget-content-light
            =link_to user.name, user, class: "themed-color"
            %br
              %small Web Designer
        .widget-main
          %a.widget-image-container.animation-hatch{:href => "page_ready_user_profile.php"}
            =image_tag(user.image, class: "widget-image img-circle")
          .row.text-center.animation-fadeIn
            .col-xs-4
              %h3
                %strong 140
                %br
                  %small Seguidores
            .col-xs-4
              %h3
                %strong 15
                %br
                  %small Propuestas
            .col-xs-4
              %h3
                %strong 980
                %br
                  %small Colaboraciones