%footer.site-footer.site-section
  .container
    .row
      .col-sm-6.col-md-4
        %h4.footer-heading Acerca de
      .col-sm-6.col-md-4
        %h4.footer-heading Legal
        %ul.footer-nav.list-inline
          %li
            %a{:href => "javascript:void(0)"} Política de Privacidad
      .col-sm-6.col-md-4
        %h4.footer-heading Redes Sociales
        %ul.footer-nav.footer-nav-social.list-inline
          %li
            %a
              %i.fa.fa-facebook
          %li
            %a
              %i.fa.fa-twitter
          %li
            %a
              %i.fa.fa-google-plus
          %li
            %a
              %i.fa.fa-dribbble
          %li
            %a
              %i.fa.fa-rss