.ui.inverted.masthead.segment
  .ui.page.grid
    .column
      %img.ui.medium.image{:src => "images/logo.png"}
        .ui.hidden.transition.information
          %h1.ui.inverted.header
            Sé parte de MiCDMX y mejora la Ciudad de México
          .large.basic.inverted.animated.fade.ui.button
            .visible.content COLABORAR
            .hidden.content Registrate