%header
  .container
    %a.site-logo
      %img{:src => 'img/placeholders/screenshots/logocd1.png', :alt => "", :size=> "150x50"}
    %nav
      %a.btn.btn-default.site-menu-toggle.visible-xs.visible-sm
        %i.fa.fa-bars
      %ul.site-nav
        %li.visible-xs.visible-sm
          %a.site-menu-toggle.text-center
            %i.fa.fa-times
        %li.active
          %a.site-nav-sub
            %i.fa.fa-angle-down.site-nav-arrow>
            Iniciar Sesión
          %ul
            %li
              %a{:href => ""} Facebook
            %li
              %a{:href => ""} Twitter
            %li
              %a{:href => ""} Foursquare