%section.site-section.site-section-light.site-section-top.parallax-image{:style => "background-image: url('img/placeholders/parallax/photo1.jpg');"}
  .container
    %h1.text-center.animation-slideDown.hidden-xs
      %strong Forma parte de la comunidad MiCDMX
    %h2.text-center.animation-slideUp.push.hidden-xs Ayuda a mejorar los espacios públicos, calles, colonias y tu ciudad.
  .row
    .col-md-4.col-md-offset-4.text-center.push
      =link_to('/home/index', class: "colab-button btn btn-lg btn-warning") do
        COLABORAR

%section.site-content.site-section.site-slide-content
  .container
    .row
      .col-sm-6.site-block.visibility-none{"data-animation-class" => "animation-fadeInRight", "data-element-offset" => "-180", "data-toggle" => "animation-appear"}
        %img.img-responsive{:alt => "Promo #1", :src => "img/placeholders/screenshots/paso1.png"}
      .col-sm-6.col-md-5.col-md-offset-1.site-block.visibility-none{"data-animation-class" => "animation-fadeInLeft", "data-element-offset" => "-180", "data-toggle" => "animation-appear"}
        %h3.h2.site-heading.site-heading-promo
          %strong Haz una 
          Propuesta
        %p.promo-content
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos accusantium esse facilis aut impedit ex magnam, iste quo voluptate quibusdam est eaque hic porro consequuntur quae fuga. Quis, dolor libero.

%section.site-content.site-section.parallax-image{:style => "background-image: url('img/placeholders/parallax/photo2.jpg');"}
  .container
    %h3.titulo-logo
%section.site-content.site-section.site-slide-content
  .container
    .row
      .col-sm-6.col-md-5.site-block.visibility-none{"data-animation-class" => "animation-fadeInRight", "data-element-offset" => "-180", "data-toggle" => "animation-appear"}
        %h3.h2.site-heading.site-heading-promo
          %strong Mejora
          tu ciudad
        %p.promo-content
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur ad vitae provident odit quam numquam repellendus. Hic aperiam quae, nobis dolore minima tenetur, dicta temporibus distinctio dolorum dolor fuga ullam.
          %a{:href => "features.html"} Learn More..
      .col-sm-6.col-md-offset-1.site-block.visibility-none{"data-animation-class" => "animation-fadeInLeft", "data-element-offset" => "-180", "data-toggle" => "animation-appear"}
        %img.img-responsive{:alt => "Promo #2", :src => "img/placeholders/screenshots/paso2.png"}
%section.site-content.site-section.site-section-light.parallax-image{:style => "background-image: url('img/placeholders/parallax/photo3.jpg');"}
  .container
    %h3.site-heading.text-center.titulo-logo
      %img.hidden{:src => 'img/placeholders/screenshots/logocd1.png', :alt => "", :size=> "150x50"}
%section.site-content.site-section.site-slide-content
  .container
    .row
      .col-sm-6.site-block.visibility-none{"data-animation-class" => "animation-fadeInRight", "data-element-offset" => "-180", "data-toggle" => "animation-appear"}
        %img.img-responsive{:alt => "Promo #3", :src => "img/placeholders/screenshots/paso3.png"}
      .col-sm-6.col-md-5.col-md-offset-1.site-block.visibility-none{"data-animation-class" => "animation-fadeInLeft", "data-element-offset" => "-180", "data-toggle" => "animation-appear"}
        %h3.h2.site-heading.site-heading-promo
          %strong Infórmate
        %p.promo-content
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque numquam velit esse repudiandae autem maiores sint recusandae. Veritatis dolor ratione molestias, odio saepe error. Obcaecati nemo eius magni praesentium tenetur.