// Place all the styles related to the landing_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.colab-button{
  margin-top: 150px!important;
  margin-bottom: 150px!important;
}

.titulo-logo{
  margin-top: 200px!important;
  margin-bottom: 200px!important;
}